<html>
    <head>
        <title>MOON DIARY</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to my page about studying in South Korea!</a></h1>
        </div>

        <div>
            <p>published: 04.11.2020, 12:30</p>
            <h2><a href="">My first post</a></h2>
            <p>I have a period of exams and I'm shooting vlogs here😂
                I showed a very cool building of my ihwa University from the inside and shared my impressions of the first offline lesson this year!!😍
                Disclaimer: there is a chance that you will also want to study at this University 😆
                Thank you for this reaction video, I'm very happy that you nravitsea what I do😭❤️it's amazing</p>
        </div>
        <div>
            <p>published: 31.10.2020, 00:30</p>
            <h2><a href="">My second post</a></h2>
            <p>Happy Halloween:)</p>
        </div>
    </body>
</html>